* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.outerGameWrapper {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: transparent;
    pointer-events: none;
}

.innerGameWrapper {
    border: 3px solid black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: fixed;
    place-items: center;
    background-color: black;
    gap: 3px;
    pointer-events: all;
}

.gamePreview {
    background-color: white;
    height: 100%;
    width: 100%;
}

.gameColHints {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.gameColHintCol {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.gameColHintBox {
    height: 25px;
    width: 25px;
    padding: 4px;
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.gameRowHints {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.gameRowHintRow {
    display: flex;
    gap: 2px;
}

.gameRowHintBox {
    display: flex;
    height: 25px;
    width: 25px;
    padding: 4px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.gameBoxContainer {
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.gameRow {
    display: flex;
    gap: 2px;
}

.gameBox {
    height: 25px;
    width: 25px;
    padding: 4px;
    background-color: white;
}

.gameBox.checked {
    background-color: black;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 2px white;
    padding: 4px;
}
