* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.outerGameWrapper {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: transparent;
    pointer-events: none;
    user-select: none;
}

.innerGameWrapper {
    border: 3px solid black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: fixed;
    place-items: center;
    background-color: black;
    gap: 3px;
    pointer-events: all;
}

.preview {
    background-color: white;
    /* aspect-ratio: 1 / 1; */
    height: 100%;
    width: 100%;
}

.previewRow {
    display: flex;
}

.previewBox {
    display: flex;
    min-width: 5px;
    min-height: 5px;
    background-color: white;
}

.previewBox.checked {
    background-color: black;
}

.colHints {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.colHintCol {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.colHintBox {
    height: 25px;
    width: 25px;
    padding: 4px;
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.rowHints {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.rowHintRow {
    display: flex;
    gap: 2px;
}

.rowHintBox {
    display: flex;
    height: 25px;
    width: 25px;
    padding: 4px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.playfield {
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.playfieldRow {
    display: flex;
    gap: 2px;
}

.playfieldBox {
    height: 25px;
    width: 25px;
    padding: 4px;
    background-color: white;
}

.playfieldBox.checked {
    background-color: black;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 2px white;
    padding: 4px;
}
