.gameRow {
    display: flex;
}

.gameBox {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    padding: 4px;
}

.gameBox.checked {
    background-color: black;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 2px white;
    padding: 4px;
}