body {
    margin: 0;
    text-align: center;
}

.outerGameWrapper {
    border: 1px solid black;;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gamePreview {
    /* aspect-ratio: 1 / 1; */
    border: 2px solid black;
}

.gameColHints {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: bisque;
}

.gameColHintCol {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.gameColHintBox {
    right: 100%;
    font-size: 11px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 15px;
    width: 15px;
    padding: 4px;
    display: flex;
}

.gameRowHints {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: bisque;
}

.gameRowHintRow {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.gameRowHintBox {
    display: flex;
    font-size: 11px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 15px;
    width: 15px;
    padding: 4px;
    display: inline-block;
}

.innerGameWrapper {
    border: 1px solid black;
}

.gameRow {
    display: flex;
}

.gameBox {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    padding: 4px;
}

.gameBox.checked {
    background-color: black;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 2px white;
    padding: 4px;
}
